aside{
  height: calc(100vh - 90px);
  transform: translateX(-500px);
  transition: all 800ms cubic-bezier(.8, 0, .33, 1);
}

.open_menu{
  transform: translateX(0px);
  transition: all 800ms cubic-bezier(.8, 0, .33, 1);
}
