<article class="bg-white rounded-2xl p-3 mt-3 select-none cursor-pointer">
  <h4 class="font-medium mb-2 line-clamp-2 md:text-lg">Task title</h4>
  <p class="text-base/6 line-clamp-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui, quo molestiae sunt perspiciatis exercitationem at consequuntur officiis corrupti culpa perferendis ratione? Quia, blanditiis ipsam minima atque perferendis distinctio! Cupiditate!</p>
  <div class="flex flex-wrap justify-between">
    <div class="flex flex-wrap mb-2 pt-2 text-stone-700 sm:mb-0">
      <div class="flex items-center h-fit mt-1 mb-1 mr-3 py-1 px-2 bg-stone-100 rounded-2xl">
        <i class="pi pi-check-circle mr-1"></i>
        <span>1/2</span>
      </div>
      <div class="flex items-center h-fit mt-1 mb-1 mr-3 py-1 px-2 bg-stone-100 rounded-2xl">
        <i class="pi pi-paperclip mr-1"></i>
        <span>1</span>
      </div>
      <div class="flex items-center h-fit mt-1 mb-1 mr-3 py-1 px-2 bg-stone-100 rounded-2xl">
        <i class="pi pi-comment mr-1"></i>
        <span>3</span>
      </div>
      <div class="flex items-center h-fit mt-1 mb-1 mr-3 py-1 px-2 bg-stone-100 rounded-2xl">
        <i class="pi pi-clock mr-1"></i>
        <span>18 Sep</span>
      </div>
    </div>
    <div class="w-full text-xs sm:w-fit sm:pt-3">
      <p-avatarGroup>
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          size="normal"
          shape="circle" />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
          size="normal"
          shape="circle" />
        <p-avatar
          label="+2"
          size="normal"
          shape="circle"
          class="select-none text-stone-700" />
      </p-avatarGroup>
    </div>
  </div>
</article>
