#container_admin_layout{
  grid-template-rows: repeat(2, auto);
}

main{
  height: calc(100vh - 106px) !important;
  transition: transform 800ms cubic-bezier(.8, 0, .33, 1), width 800ms cubic-bezier(.8, 0, .33, 1);
}
