<div id="container_admin_layout" class="grid grid-cols-12 box-border">
  <app-header class="col-start-1 col-end-13 row-start-1 row-end-2 h-20 bg-white dark:bg-neutral-700 dark:border-b-2 border-b-neutral-500" />
  <app-aside id="aside_container" class="w-full col-start-1 col-end-10 row-start-2 row-end-3 lg:mt-3 lg:mb-3 sm:col-end-8 md:col-end-6 lg:col-end-3 z-50 relative" />

  <main class="col-start-1 col-end-13 row-start-2 row-end-3 pb-4 lg:col-start-3 lg:col-end-13 lg:mt-3 lg:mb-3 lg:pb-2 bg-stone-100 dark:bg-neutral-600 !h-full lg:!h-auto z-50 lg:rounded-3xl lg:mx-4 overflow-auto">
    <ng-content></ng-content>
  </main>
</div>
