<div class="mx-4 px-3 py-8 mt-8 rounded-3xl bg-stone-100 sm:mx-8 md:max-w-[500px] md:mx-auto md:p-12 lg:max-w-[600px] lg:p-20">
  <h1 class="text-2xl font-medium md:text-3xl mx-4 mb-10 md:mb-16">Login</h1>
  <form [formGroup]="loginForm" method="post" action="" (ngSubmit)="sendLoginForm()" class="flex flex-wrap mx-4">
    <label [for]="inputTypes[0]" class="md:text-lg mb-2 w-full">Nick</label>
    <input
      [type]="inputTypes[0]"
      [id]="inputTypes[0]"
      [name]="inputTypes[0]"
      [class]="'input input_padding ' + (loginForm.get('nick')?.dirty ? (loginForm.get('nick')?.invalid ? 'ring-red-400' : 'ring-emerald-400') : '')"
      formControlName="nick" />

    <app-form-error [form]="loginForm" [requiredError]="errorMessages[0]['required']" [patternError]="errorMessages[0]['pattern']" [inputName]="inputTypes[0]" />

    <label [for]="inputTypes[1]" class="md:text-lg mt-6 mb-2 w-full">Password</label>
    <input
      [type]="inputTypes[1]"
      [id]="inputTypes[1]"
      [name]="inputTypes[1]"
      [class]="'input input_padding ' + (loginForm.get('password')?.dirty ? (loginForm.get('password')?.invalid ? 'ring-red-400' : 'ring-emerald-400') : '')"
      formControlName="password" />

    <app-form-error [form]="loginForm" [requiredError]="errorMessages[1]['required']" [patternError]="errorMessages[1]['pattern']" [inputName]="inputTypes[1]" />

    <button type="submit" id="sign_in" class="mt-6 py-2 px-2 outline-none text-white bg-emerald-500 focus:ring-2 ring-emerald-200 rounded-lg w-full md:text-lg">Sign in</button>
  </form>

  <div class="text-center w-full mt-8">
    <span class="block md:text-lg">Now here?</span>
    <a routerLink="/register" class="inline-block text-emerald-400 hover:cursor-pointer md:text-lg">Create account</a>
  </div>
</div>
