<div>
  <div class="flex flex-wrap lg:flex-nowrap lg:items-center lg:justify-between">
    <h1 class="text-2xl md:text-3xl font-medium mx-4 mt-8 mb-4 w-full dark:text-stone-100 sm:mx-8 lg:mb-8 lg:w-fit">Area name</h1>
    <a class="flex items-center ml-4 mb-4 lg:mb-0 py-3 px-5 w-fit h-11 rounded-2xl bg-white hover:cursor-pointer sm:ml-8 md:-mr-2 lg:py-4 lg:px-14 lg:h-auto lg:max-h-[52px]">
      <i class="pi pi-map text-xl mr-4 h-fit"></i>
      <h5 class="text-base h-fit md:text-lg">Roadmap</h5>
    </a>
    <app-top-right-options [iconsToPrint]="['plus', 'filter', 'sliders-h']" backgroundColor="white" />
  </div>

  <div class="grid lg:grid-cols-3 gap-6 mx-4 sm:mx-8 xl:gap-10">
    <div class="bg-stone-200 dark:bg-neutral-400 w-full p-3 rounded-2xl">
      <h3 class="text-xl font-medium md:text-2xl">To do</h3>
      <app-task-card />
    </div>

    <div class="bg-stone-200 dark:bg-neutral-400 w-full p-3 rounded-2xl">
      <h3 class="text-xl font-medium md:text-2xl">Doing</h3>
    </div>

    <div class="bg-stone-200 dark:bg-neutral-400 w-full p-3 rounded-2xl">
      <h3 class="text-xl font-medium md:text-2xl">Done</h3>
    </div>
  </div>
</div>
